
<div class="jumbotron">
	<div class = "container">
		<h1>Hello, world!</h1>
		<p>aprendijazes</p>
		<a href="http://www.fb.com" class="btn btn-default"> 
		<span class="glyphicon glyphicon-hand-up" style="color:blue"></span>
		Click_aqui
		</a>
	</div>
</div>
	

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
  				<h2 style="display:inline">Example page header</h2>
  				<span class="label label-default">New</span>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ullam ratione iure quo quasi tenetur, vero rerum molestias tempora unde, reiciendis in earum, quos nobis facilis perferendis. Sed, dolores, ullam.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
  				<h2>Example page header</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ullam ratione iure quo quasi tenetur, vero rerum molestias tempora unde, reiciendis in earum, quos nobis facilis perferendis. Sed, dolores, ullam.</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
  				<h2>Example page header</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis dicta eum quisquam voluptatum minus nihil ea incidunt cumque, dolorum quo dolorem doloribus velit sequi? Sunt nihil dolores blanditiis earum.</p>
			<a href="http://www.google.com">
			<img src="http://www.estudiantes.info/ciencias_naturales/images/osos-peleando.png" alt="kjhfhgkf" class="img-responsive">
			</a>

			<a href="http://webmail.udec.cl"> mail</a>		
		</div>
	</div>
</div>
		
